<div class="featured-search">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3" style="margin-top:165px">
        <div class="input-group">
          <input type="text" id="search" class="form-control home-search" value="">
          <span class="input-group-btn">
          <button class="btn btn-success btn-lg btn-srch" name="button"><i class="fa fa-search"></i> Find Case</button>
        </span>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Container (TOUR Section) -->
<div id="cases">
    <div class="container" style="padding-top:0px;">

      <h3 style="margin-bottom:20px;border-bottom:1px solid #eee;padding-bottom:10px;">New Cases</h3>
        <div class="row loadCases" data-limit="8">

        </div>
        <div class="row no-location hide">
          <div class="col-md-12">
            <div class="alert alert-warning">
              <i class="fa fa-warning"></i>
              No location provided, please choose location first.
            </div>
          </div>
        </div>
</div>
</div>

<!-- Container (Contact Section) -->
<div style="background-color:#eee;border-top:1px solid #ddd">
  <div id="contact" class="container">
      <h3 class="text-center">Contact</h3>
      <p class="text-center"><em>We are always there for your help!</em></p>

      <div class="row">
          <div class="col-md-4">
              <p>Need Help? Drop a note.</p>
              <p><span class="glyphicon glyphicon-map-marker"></span>Fachhochschule Kiel</p>
              <p><span class="glyphicon glyphicon-phone"></span>Phone: +00 1515151515</p>
              <p><span class="glyphicon glyphicon-envelope"></span>Email: openhelp@gmail.com</p>
          </div>
          <div class="col-md-8">
              <div class="row">
                  <div class="col-sm-6 form-group">
                      <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                  </div>
                  <div class="col-sm-6 form-group">
                      <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                  </div>
              </div>
              <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
              <br>
              <div class="row">
                  <div class="col-md-12 form-group">
                      <button class="btn pull-right" type="submit">Send</button>
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>



<!-- Footer -->
<footer class="text-center">
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br><br>
    <p>Website developed by <a href="#" data-toggle="tooltip" title="OpenHelp">www.openhelp.com</a></p>
</footer>
