<div class="modal-header">
	<h4 ng-if="row._id" class="modal-title"><i class="fa fa-refresh"></i> Update <small>Category</small></h4>
	<h4 ng-if="!row._id" class="modal-title"><i class="fa fa-plus-circle"></i> Add <small>Category</small></h4>
</div>
<div class="modal-body">
	<div class="alert alert-danger" ng-if="response.error"><i class="fa fa-warning"></i> {{response.msg}}</div>
        <div class="alert alert-success" ng-if="row._id && response.error===0"><i class="fa fa-check"></i> Category Updated.</div>
        <div class="alert alert-success" ng-if="!row._id && response.error===0"><i class="fa fa-check"></i> Category Added.</div>
	<div class="row">
		<div class="col-xs-12">
			<form name="AdminForm" ng-submit="AdminForm.$valid && ok()" novalidate>
			<div class="form-group" ng-class="{'has-error':AdminForm.name.$invalid}">
				<label class="control-label" for="name">Name</label>
				<input class="form-control" type="text" name="name" id="name" ng-model="row.name" ng-maxlength="30" ng-minlength="4" ng-required=true>
			</div>

			</div>


			</form>


		</div>
	</div>
</div>
<div class="modal-footer">
	<button ng-if="row._id" class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="AdminForm.$invalid">Update Category</button>
	<button ng-if="!row._id" class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="AdminForm.$invalid">Add Category</button>
	<button  class="btn btn-danger" type="button" ng-click="cancel()">Close</button>
</div>
