<style>
    input[type=email], select {
        width:50%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 50%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>

<div>
<form action="#">
    <fieldset>
        <legend>Forgot Password</legend>
        <p >We will send you temporary password via email and change your password once logged in</p>
        Enter Registered email<br>
        <input type="email" id="changemail" name="changemail" placeholder="Email" class="form-control"><br>
        <input type="submit" value="Submit">
    </fieldset>
</form>
</div>
