<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">

                <a class="list-group-item active" href="/user/">My Account</a>

                <a class="list-group-item" href="/user/change-password">Change Password</a>

                <a class="list-group-item" href="/openHelp/New_Case.hbs">Create New Case</a>

            </div>
        </div>
        <div class="col-md-8">
            <div id="Home" class="tabcontent">
                <div class="jumbotron">
                    <div class="container text-center">
                        <h1>openHelp</h1>
                        <p>"We Can't Help Everyone But, Everyone Can Help Someone"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<footer class="container-fluid text-center">
    <p>@@Feel Free To Get Help And Give Help@@</p>
</footer>

