<style media="screen">
  .inputfile{
    position:absolute;left:38%;top:145px
  }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">

              <a class="list-group-item" href="/user/"><i class="fa fa-home"></i> Home</a>

              <a class="list-group-item" href="/user/my-account"><i class="fa fa-user"></i> My Profile</a>
              <a class="list-group-item active" href="/user/create-new-case"><i class="fa fa-plus"></i> Create New Case</a>
              <a class="list-group-item" href="/user/my-cases"><i class="fa fa-list"></i> My Cases</a>
              <a class="list-group-item" href="/user/change-password"><i class="fa fa-lock"></i> Change Password</a>
              <a class="list-group-item" href="/user/logout"><i class="fa fa-sign-out"></i> Log Out</a>
            </div>
        </div>

        <div class="col-md-8">
          <div class="panel panel-primary">
            <div class="panel-heading text-center">
              Create New Case
            </div>
            <div class="panel-body panel-form">
              <form class="uploadCase" action="/api/v1/create-case" method="post">
                <div class="form-group text-center" style="background:url(/images/case/1234}) no-repeat;background-position:center center;background-size:cover;height:150px;margin:-15px -15px 15px -15px;">

                  <input class="inputfile" type="file" name="file" value=""  accept="image/x-png,image/gif,image/jpeg">
                </div>
                <div class="form-group">
                  <label>Case Title *</label>
                  <input type="text"  placeholder="Case Title" name="title" value="" class="form-control">
                </div>
                <div class="form-group">
                  <label>Case Description *</label>
                  <textarea class="form-control" name="description"></textarea>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Category *</label>
                      <select class="form-control" name="category">
                        <option value="">--Please select category--</option>
                        {{#each category}}
                          <option value="{{this.name}}">{{this.name}}</option>
                        {{/each}}
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Required Amount</label>
                      <input type="number" name="requiredAmount" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Address *</label>
                  <div id="locationField">
                    <input id="autocomplete" class="form-control" placeholder="Enter your address" type="text"></input>
                  </div>
                </div>
                <div class="form-group" style="margin-top: 40px;">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Street no *</label>
                        <input class="field form-control" id="street_number" name="address[street_number]" disabled="true"></input>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="form-group">
                        <label>Route *</label>
                        <input class="field form-control" id="route" name="address[route]" disabled="true"></input>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="form-group">
                        <label>City *</label>
                        <input class="field form-control" id="locality" name="address[locality]" disabled="true"></input>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Postal *</label>
                        <input class="field form-control" id="postal_code" name="address[postal_code]" disabled="true"></input>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <label>State/Region *</label>
                        <input class="field form-control" id="administrative_area_level_1" name="address[administrative_area_level_1]" disabled="true"></input>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label>Country *</label>
                        <input class="field form-control" id="country" name="address[country]" disabled="true"></input>
                      </div>
                    </div>
                  </div>
                </div>

              <hr>
              <div class="col-sm-12 text-center">
                <input type="hidden" name="latlng[lat]" id="lat" value="">
                <input type="hidden" name="latlng[lng]" id="lng" value="">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
              </form>
            </div>
            <div class="panel-body panel-search hide" style="background:url(/images/search.gif) no-repeat; min-height:400px;background-position: center center;">
              <label class="btn btn-primary" style="position: absolute;bottom: 61px;left: 193px;opacity: 0.7;">Searching Nearby Area Manager....</label>
            </div>
            <div class="panel-body panel-notFound hide">
              <div class="text-center text-warning">
                <i class="fa fa-warning fa-5x" style="font-size: 83px;"></i>
                <div class="text-center">
                  <span>Sorry no Nearby area manager found :(</span>
                </div>

              </div>
            </div>

            <div class="panel-body panel-confirm hide">

            </div>

          </div>



        </div>
    </div>
</div>

        <script>


            var placeSearch, autocomplete;
            var componentForm = {
                street_number: 'short_name',
                route: 'long_name',
                locality: 'long_name',
                administrative_area_level_1: 'short_name',
                country: 'long_name',
                postal_code: 'short_name'
            };

            function initAutocomplete() {
                // Create the autocomplete object, restricting the search to geographical
                // location types.
                autocomplete = new google.maps.places.Autocomplete(
                        /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
                        {types: ['geocode']});

                // When the user selects an address from the dropdown, populate the address
                // fields in the form.
                autocomplete.addListener('place_changed', fillInAddress);
            }

            function fillInAddress() {
                // Get the place details from the autocomplete object.
                var place = autocomplete.getPlace();
                var latlng = place.geometry.location;
                $('#lat').attr('value',latlng.lat());
                $('#lng').attr('value',latlng.lng());

                for (var component in componentForm) {
                    document.getElementById(component).value = '';
                    document.getElementById(component).disabled = false;
                }

                // Get each component of the address from the place details
                // and fill the corresponding field on the form.
                for (var i = 0; i < place.address_components.length; i++) {
                    var addressType = place.address_components[i].types[0];
                    if (componentForm[addressType]) {
                        var val = place.address_components[i][componentForm[addressType]];
                        document.getElementById(addressType).value = val;
                    }
                }
            }
            initAutocomplete();
        </script>
