<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">


              <a class="list-group-item active" href="/user/"><i class="fa fa-home"></i> Home</a>

              <a class="list-group-item" href="/user/my-account"><i class="fa fa-user"></i> My Profile</a>
              <a class="list-group-item" href="/user/create-new-case"><i class="fa fa-plus"></i> Create New Case</a>
              <a class="list-group-item" href="/user/my-cases"><i class="fa fa-list"></i> My Cases</a>
              <a class="list-group-item" href="/user/change-password"><i class="fa fa-lock"></i> Change Password</a>
              <a class="list-group-item" href="/user/logout"><i class="fa fa-sign-out"></i> Log Out</a>

            </div>
        </div>
        <div class="col-md-8">
            <div class="jumbotron">
                <div class="container text-center">
                    <h1>openHelp</h1>
                    <p>"We Can't Help Everyone But, Everyone Can Help Someone"</p>
                </div>
            </div>
        </div>
    </div>
</div>
