<div class="container-fluid ng-scope">
	<div class="row">
    <div class="col-lg-12">
      <div class="alert" ng-class="error.type" ng-if="error.type">
        {{error.msg}}
      </div>
    </div>
		<div class="col-lg-12">
			<div class="pull-right" style="margin-top:40px">
				<button class="btn btn-circle btn-primary btn-lg" tooltip="Add new admin" tooltip-trigger="mouseenter" tooltip-placement="left" ng-click="open(-1,0,'editAdminController')"><i class="fa fa-plus"></i></button>
			</div>
			<h1 class="page-header">Users</h1>

		</div>
    <div class="col-lg-12">
      <table class="table table-bordered table-hover">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Managing Area</th>
          <th>Action</th>
        </tr>
        <tr ng-repeat="list in list track by $index" ng-if="list._id">
          <td>{{list.name}}</td>
          <td>{{list.email}}</td>
          <td>{{list.managingArea}} - {{list.radius}} KM</td>
          <td>
            <button class="btn btn-circle btn-primary" tooltip="Edit" tooltip-trigger="mouseenter" ng-click="open($index,1,'editAdminController')">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-circle btn-danger" ng-hide="list.root && $index==0" tooltip="Delete" tooltip-trigger="mouseenter" ng-click="deleteRow(list)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </table>
    </div>
	</div>
</div>
